@import 'yeticss'

header
	padding-top: 50px
	
#sidebar
	padding: 5px
	
.grid-flex-cell {
	border-radius: 3px;
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 10px;
}

.noSelect
	-webkit-user-select: none;

.center
	text-align: center;
	
fieldset
	padding: 10px
	margin-bottom: 0px
	
#sidebar
	padding-top: 0px