@import 'yeticss'

header
	padding-top: 50px
	
#sidebar
	padding: 5px
	
[class^="grid-flex-cell"] {
	border: 1px solid #e6eaed;
	border-radius: 3px;
}

.noSelect
	-webkit-user-select: none;

.center
	text-align: center;