@import 'yeticss'
@import './bootstrap.css'
@import './bootstrap-theme.css'

header
	padding-top: 50px
	
#sidebar
	padding: 5px
	
.grid-flex-cell {
	border-radius: 3px;
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 10px;
}

.noSelect
	-webkit-user-select: none;

.center
	text-align: center;
	
fieldset
	padding: 10px
	margin-bottom: 0px
	
#sidebar
	padding-top: 0px
	
.glyphicon-remove {
	margin-right: 5px
	padding-top: 5px !important
	padding-bottom: 5px !important
}